.background-container {
  background-image: url("./assets/blue-dark-blur-gradation-wallpaper-preview.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}